fastapi==0.115.12
uvicorn==0.34.2
sqlalchemy==2.0.40
psycopg2-binary==2.9.5
pydantic==2.11.4
python-jose==3.3.0
passlib==1.7.4
redis==6.0.0
httpx==0.28.1
python-multipart==0.0.20
prometheus_client==0.20.0
psutil==6.1.0